---
title: Index page
page: home
hero: {
  mod: 'hero--lg',
  bg: 'bg-hero-home.jpg',
  title: 'Центр детской и взрослой стоматологической эстетики в Киеве',
  btns: [
    {
      title: 'Записаться на приём'
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-action.html" %}
  {% include "partials/sections/_s-team.html" %}
  {% include "partials/sections/_s-services.html" %}
  {% include "partials/sections/_s-call.html" %}
  {% include "partials/sections/_s-testimonials.html" %}
  {% include "partials/sections/_s-seo.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
