---
title: prices
page: prices
hero: {
  mod: '',
  bg: 'bg-hero-prices.jpg',
  title: 'Прайс',
  btns: [
    {
      title: 'Записаться на приём',
      mod: 'js-popup-open',
      attributes: { 'data-popup-target': 'order' }
    }
  ]
}
seoText: {
  services: true
}
accordion: {
  mod: 'prices',
  items: [
    {
      title: 'КОНСУЛЬТАЦИЯ И ДИАГНОСТИКА',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
        <p>Аппликация фторсодержащим препаратом (все зубы) – <strong>от 1110 грн.</strong></p>
      '
    },
    {
      title: 'ЛЕЧЕНИЕ ЗУБОВ',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
       '
    },
    {
      title: 'ГИГИЕНА. ПРОФИЛАКТИКА. ОТБЕЛИВАНИЕ',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
       '
    },
    {
      title: 'ИМПЛАНТАЦИЯ',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
       '
    },
    {
      title: 'ОРТОПЕДИЧЕСКИЙ ПРИЕМ',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
       '
    },
    {
      title: 'ИСПРАВЛЕНИЕ ПРИКУСА',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
       '
    },
    {
      title: 'ДЕТСКАЯ СТОМАТОЛОГИЯ',
      content: '
        <p>Комплексная гигиена полости рта (под ключ, полностью) – <strong>от 1380 грн.</strong></p>
        <p>Ультразвуковая чистка зубов (в комплексе) – <strong>от 585 грн.</strong></p>
       '
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-prices.html" %}
  {% include "partials/sections/_s-seo.html" %}
  {% include "partials/sections/_s-call.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
