{%set
slider = [
  {
    title: 'Всемирная встреча ассоциации 
стоматологов в берлине',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'в клинику «Смайлик» завезли новое 
стоматологическое оборудование для  
детей',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'Всемирная встреча ассоциации 
стоматологов в берлине',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'в клинику «Смайлик» завезли новое 
стоматологическое оборудование для  
детей',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'Всемирная встреча ассоциации 
стоматологов в берлине',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'в клинику «Смайлик» завезли новое 
стоматологическое оборудование для  
детей',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  }
]
%}

<!-- begin items-slider -->
<div class="items-slider">
  <div class="items-slider__title section__title">
    <div class="title title--h2 title--bold">не пропустите также:</div>
  </div>
  <!-- begin slider -->
  <div class="slider__wrap slider--items__wrap slider--items-arr__wrap">
    <div class="slider slider--items slider--items-arr js-slider" data-slider="items">
      {% for i in slider %}
        <!-- begin slide -->
        <div class="slide">
          {% include "partials/_blog-article.html" %}
        </div>
        <!-- end slide -->
      {% endfor %}
    </div>
    
    <div class="slider__controls">
      <button class="slider__prev prev js-slider-prev"></button>
      <button class="slider__next next js-slider-next"></button>
    </div>
    
  </div>
  <!-- end slider -->
</div>
<!-- end items-slider -->