<!-- begin hero -->
<section class="hero{% if hero.mod %} {{ hero.mod }}{% endif %}{% if hero.bg %} js-lazy{% endif %}" {% if hero.bg %}data-background-image="./img/hero/{{ hero.bg }}"{% endif %}>
  <div class="container">
    {% if hero.breadcrumbs %}
      <div class="hero__breadcrumbs">
        {{ mixins.list(
          name = 'breadcrumbs',
          modifications = { wrap: hero.breadcrumbs.mod, item: '', link: '' },
          list = hero.breadcrumbs.list
        ) }}
      </div>
    {% endif %}

    <div class="hero__inner">
      <div class="row">
        <div class="{% if hero.colMod %}{{ hero.colMod }}{% else %}col-md-6{% endif %}">
          {% if hero.title %}
            <div class="hero__title">
              <div class="title{% if hero.title.mod %} {{ hero.title.mod }}{% else %} title--ttn title--white title--shadow title--sm title--bold{% endif %}">
                {% if hero.title.title %}
                {{ hero.title.title | safe }}
                {% else %}
                {{ hero.title | safe }}
                {% endif %}
                
              </div>
            </div>
          {% endif %}

          {% if hero.subttl %}
          <div class="hero__subttl">{{ hero.subttl | safe }}</div>
          {% endif %}

          {% if hero.btns %}
          <div class="hero__btns">
            {% for i in hero.btns %}
            <div class="hero__btn">
              {{ mixins.btn(
                title = i.title,
                mod = i.mod,
                attributes = i.attributes,
                href = i.href
              ) }}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {% if hero.meta %}
          <div class="hero__meta">
            <!-- begin blog-meta -->
            <div class="blog-meta">
              <div class="blog-meta__item">
                {{ mixins.icon('clock-2', false) }}
                28 мая, 2019
              </div>
              <div class="blog-meta__item">
                {{ mixins.icon('eye', false) }}
                103
              </div>
            </div>
            <!-- end blog-meta -->
          </div>
        {% endif %}
        </div>
      </div>  
    </div>
  </div>
</section>
<!-- end hero -->