{{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: 'Главная', modLink: 'is-active' },
    { link: 'Взрослым', modItem: 'has-dropdown js-dropdown-btn', item: mixins.list(
      name = 'nav',
      modifications = { wrap: 'nav--dropdown js-dropdown', item: '', link: '' },
      list = [
        { link: 'Отбеливание зубов', modLink: 'is-active' },
        { link: 'Лечение под микроскопом' },
        { link: 'Взрослая ортодонтия' },
        { link: 'Профессиональная гигиена полости рта' }
      ]
    ) },
    { link: 'Детям', modItem: 'has-dropdown js-dropdown-btn', item: mixins.list(
      name = 'nav',
      modifications = { wrap: 'nav--dropdown js-dropdown', item: '', link: '' },
      list = [
        { link: 'Детская ортоднтия', modLink: 'is-active' },
        { link: 'Лечение молочных зубов' },
        { link: 'Удаление молочных зубов' },
        { link: 'Детское протезирование' }
      ]
    ) },
    { link: 'О нас' },
    { link: 'Прайс' },
    { link: 'Контакты' }
  ]
) }}