<!-- begin stext -->
<div class="stext scrollbar js-scrollbar">
  <h1>Цены (H1)</h1>
  <p><strong>Не смотря на</strong> <em>повсеместный рост</em> <a href="#">цен</a>, мы принципиально не повышаем их на услуги, так как дорожим нашими клиентами. Более того, регулярно проводим акции, 
а консультация детского стоматолога бесплатная. Высокое качество обслуживания 
и полезные рекомендации вы гарантировано получаете вне зависимости от цены. Лечение зубов -процесс длительный и весьма не дешевый, но мы стараемся сделать всё возможное и невозможное, чтобы вам это было финансово доступно, а зубы оставались белоснежными, ровными и здоровыми как можно дольше. Стоматологическая эстетика – это залог уверенности в себе, поэтому не откладывайте лечение в долгий ящик, ведь чем дольше вы ждёте, чем дороже выйдет лечение. Весь прайс можно просмотреть в соответствующем разделе на нашем сайте. </p>

<h2>Забота о клиентах (H2)</h2>
<p>Многие на себе прочувствовали тот страх перед стоматологами, который идёт из детства. Наша задача искоренить этот страх уютной обстановкой, позитивным настроем и комфортом. Современная взрослая и детская стоматология основывается на принципе комфорта и безопасности. Мы используем только гипоаллергенные материалы, при необходимости предлагаем пациенту несколько видов анестезии на выбор, подготавливаем психологически к предстоящей процедуре. Особенно это касается детей, ведь страх перед врачами закладывается в раннем возрасте, и мы делаем всё возможное, чтобы после посещения были только приятные воспоминания. Для детей у нас есть детский уголок, где малыши смогут порисовать или поиграть. Эффективная стоматология начинается с мелочей, и мы эти мелочи учитываем.</p>

<h3>Преимущества нашей стоматологии (H3)</h3>
<p>Хотелось бы подытожить всё, о чём говорилось выше, почему стоит обращаться за качественной консультацией и лечением именно в наш Центр детской и взрослой стоматологической эстетики:</p>

<h2>Забота о клиентах (H2)</h2>
<p>Многие на себе прочувствовали тот страх перед стоматологами, который идёт из детства. Наша задача искоренить этот страх уютной обстановкой, позитивным настроем и комфортом. Современная взрослая и детская стоматология основывается на принципе комфорта и безопасности. Мы используем только гипоаллергенные материалы, при необходимости предлагаем пациенту несколько видов анестезии на выбор, подготавливаем психологически к предстоящей процедуре. Особенно это касается детей, ведь страх перед врачами закладывается в раннем возрасте, и мы делаем всё возможное, чтобы после посещения были только приятные воспоминания. Для детей у нас есть детский уголок, где малыши смогут порисовать или поиграть. Эффективная стоматология начинается с мелочей, и мы эти мелочи учитываем.</p>

<h3>Преимущества нашей стоматологии (H3)</h3>
<p>Хотелось бы подытожить всё, о чём говорилось выше, почему стоит обращаться за качественной консультацией и лечением именно в наш Центр детской и взрослой стоматологической эстетики:</p>

<h2>Забота о клиентах (H2)</h2>
<p>Многие на себе прочувствовали тот страх перед стоматологами, который идёт из детства. Наша задача искоренить этот страх уютной обстановкой, позитивным настроем и комфортом. Современная взрослая и детская стоматология основывается на принципе комфорта и безопасности. Мы используем только гипоаллергенные материалы, при необходимости предлагаем пациенту несколько видов анестезии на выбор, подготавливаем психологически к предстоящей процедуре. Особенно это касается детей, ведь страх перед врачами закладывается в раннем возрасте, и мы делаем всё возможное, чтобы после посещения были только приятные воспоминания. Для детей у нас есть детский уголок, где малыши смогут порисовать или поиграть. Эффективная стоматология начинается с мелочей, и мы эти мелочи учитываем.</p>

<h3>Преимущества нашей стоматологии (H3)</h3>
<p>Хотелось бы подытожить всё, о чём говорилось выше, почему стоит обращаться за качественной консультацией и лечением именно в наш Центр детской и взрослой стоматологической эстетики:</p>

<h2>Забота о клиентах (H2)</h2>
<p>Многие на себе прочувствовали тот страх перед стоматологами, который идёт из детства. Наша задача искоренить этот страх уютной обстановкой, позитивным настроем и комфортом. Современная взрослая и детская стоматология основывается на принципе комфорта и безопасности. Мы используем только гипоаллергенные материалы, при необходимости предлагаем пациенту несколько видов анестезии на выбор, подготавливаем психологически к предстоящей процедуре. Особенно это касается детей, ведь страх перед врачами закладывается в раннем возрасте, и мы делаем всё возможное, чтобы после посещения были только приятные воспоминания. Для детей у нас есть детский уголок, где малыши смогут порисовать или поиграть. Эффективная стоматология начинается с мелочей, и мы эти мелочи учитываем.</p>

<h3>Преимущества нашей стоматологии (H3)</h3>
<p>Хотелось бы подытожить всё, о чём говорилось выше, почему стоит обращаться за качественной консультацией и лечением именно в наш Центр детской и взрослой стоматологической эстетики:</p>
</div>
<!-- end stext -->