{%set
actions = [
  {
    img: '01.jpg',
    title: 'ЗАБИРАЙ -25% НА ОТБЕЛИВАНИЕ',
    text: 'До 31 сентября 1450 грн. вместо 2185 грн. Успей!',
    label: true
  },
  {
    img: '02.jpg',
    title: 'КОНСУЛЬТАЦИЯ ДЕТСКОГО 
ОРТОДОНТА БЕСПЛАТНО!!!',
    text: 'До 31 сентября Вы можете получить у нас в клинике
консультацию ведущего ортодонта БЕСПЛАТНО
(вместо 350 грн)!'
  },
  {
    img: '03.jpg',
    title: 'КОНСУЛЬТАЦИЯ ДЕТСКОГО 
СТОМАТОЛОГА-ТЕРАПЕВТА 
БЕСПЛАТНО!!!',
    text: 'До 31 сентября Вы можете получить у нас в клинике 
консультацию ведущего ортодонта БЕСПЛАТНО
(вместо 350 грн)!'
  }
]
%}

<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <div class="section__title">
      <div class="title title--accent">ХОРОШИЙ СТОМАТОЛОГ КИЕВ – ЭТО РЕАЛЬНО!</div>
    </div>

    <div class="section__subttl">В стоматологии «Смайлик» – пациентам предоставляются стоматологические услуги, соответствующие самым высоким международным стандартам качества. У н ас работают опытные врачи, используется импортное оборудование и современные зарубежные материалы. Добро пожаловать в киевскую стоматологию «Смайлик»!</div>

    <!-- begin cards -->
    <div class="cards">
      <div class="row justify-content-center">
        {% for i in actions %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          {{ mixins.card(
            mod = '',
            img = i.img,
            title = i.title,
            text = i.text,
            button = { title: 'Успеть до конца акции', mod: 'btn--full' },
            label = i.label
          ) }}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end cards -->
  </div>
</section>
<!-- end section -->