{%set
blog = [
  {
    title: 'Всемирная встреча ассоциации 
стоматологов в берлине',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'в клинику «Смайлик» завезли новое 
стоматологическое оборудование для  
детей',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'Всемирная встреча ассоциации 
стоматологов в берлине',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'в клинику «Смайлик» завезли новое 
стоматологическое оборудование для  
детей',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'Всемирная встреча ассоциации 
стоматологов в берлине',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  },
  {
    title: 'в клинику «Смайлик» завезли новое 
стоматологическое оборудование для  
детей',
    text: '11 декабря, 2019 года пройдет всемирная встреча ассоциации стоматологов,
которая обещает собрать более 11 000 участников со всего мира. На конференции
планируются выступления таких известных...'
  }
]
%}

<!-- begin blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        {% for i in blog %}
          <div class="col-md-6">
            {% include "partials/_blog-article.html" %}
          </div>
        {% endfor %}

        <div class="col-12">
          <!-- begin paging -->
          <div class="paging__wrap">
            {{ mixins.list(
              name = 'paging',
              modifications = { wrap: '', item: '', link: '' },
              list = [
                { link:  ' ', modLink: 'prev' },
                { link: '1' },
                { link: '2', modLink: 'is-active' },
                { link: '3' },
                { link: '4' },
                { link:  ' ', modLink: 'next' }
              ]
            ) }}
          </div>
          <!-- end paging -->
        </div>
      </div>
    </div>
  </section>
  <!-- end blog -->