<!-- begin blog-page -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-7">
          <!-- begin blog-article -->
          <div class="blog-article">
            <img data-src="./img/blog/article.jpg" class="js-lazy" alt="">

            <p>Стоматология «СМАЙЛиК» в Киеве – это передовые методики, современное оборудование и лучшие специалисты в самом <a href="#">центре города.</a>
            </p>
            <h5>Почему стоит обратиться именно к нам?</h5>
            <p>
              <em>В стоматологическом центре</em> «Смайлик» работают молодые, но опытные и профессиональные сотрудники, которые в курсе всех новинок в мире стоматологии, постоянно учатся чему-то новому, чтобы клиент, обратившись в нашу клинику, получил лучшее лечение и остался доволен. В работе используем высококлассное оборудование от известных мировых производителей, а также лучшие по качеству в своем сегменте и безопасные материалы.</p>
            <p>Зубной врач ваш друг и спутник на многие годы, так как, найдя одного хорошего специалиста вы, скорее всего, не захотите лечиться у кого-то другого. А у нас таких специалистов целая команда. Мы берёмся даже за самые сложные случаи, когда другие врачи отказались.</p>

            <blockquote class="blockquote">
              {{ mixins.icon('quote') }}
              В стоматологическом центре «Смайлик» работают молодые, но опытные и профессиональные сотрудники, которые в курсе всех новинок в мире стоматологии, постоянно учатся чему-то новому, чтобы клиент, обратившись в нашу клинику, получил лучшее лечение и остался доволен навсегда.
            </blockquote>

            <p>Стоматология «СМАЙЛиК» в Киеве – это передовые методики, современное оборудование и лучшие специалисты в самом центре города.</p>

            <h5>Почему стоит обратиться именно к нам?</h5>

            <ol>
              <li>В стоматологическом центре «Смайлик» работают молодые, но опытные и профессиональные сотрудники, которые в курсе всех новинок в мире стоматологии, постоянно учатся чему-то новому, чтобы клиент, обратившись в нашу клинику, получил лучшее лечение и остался доволен. В работе используем высококлассное оборудование от известных мировых производителей, а также лучшие по качеству в своем сегменте и безопасные материалы.</li>
              <li>Зубной врач ваш друг и спутник на многие годы, так как, найдя одного хорошего специалиста вы, скорее всего, не захотите лечиться у кого-то другого. А у нас таких специалистов целая команда. Мы берёмся даже за самые сложные случаи, когда другие врачи отказались.</li>
              <li>В стоматологическом центре «Смайлик» работают молодые, но опытные и профессиональные сотрудники, которые в курсе всех новинок в мире стоматологии, постоянно учатся чему-то новому, чтобы клиент, обратившись в нашу клинику, получил лучшее лечение и остался доволен. В работе используем высококлассное оборудование от известных мировых производителей, а также лучшие по качеству в своем сегменте и безопасные материалы</li>
            </ol>

            <ul>
              <li>Зубной врач </li>
              <li>Оборудование</li>
              <li>Безопасные материалы</li>
              <li>Приятная атмосфера</li>
            </ul>

            <h5>Почему стоит обратиться именно к нам?</h5>
            <p>
              <em>В стоматологическом центре</em> «Смайлик» работают молодые, но опытные и профессиональные сотрудники, которые в курсе всех новинок в мире стоматологии, постоянно учатся чему-то новому, чтобы клиент, обратившись в нашу клинику, получил лучшее лечение и остался доволен. В работе используем высококлассное оборудование от известных мировых производителей, а также лучшие по качеству в своем сегменте и безопасные материалы.</p>

          </div>
          <!-- end blog-article -->
        </div>

        <div class="col-xl-4 col-lg-5">
          <!-- begin banner -->
          <div class="banner js-lazy" data-background-image="./img/blog/bg-banner.jpg">
            <div class="banner__title">
              <div class="title title--white title--bold title--h2">закажите обратный звонок и мы свяжемся с вами</div>
            </div>

            <div class="banner__btn">
              {{ mixins.btn(
                title = 'Заказать обратный звонок',
                mod = 'btn--combine',
                combine = true,
                href = false
              ) }}
            </div>

            <div class="banner__contacts">
              <!-- begin contacts-small -->
              <div class="contacts-small">
                <div class="contacts-small__title">Позвоните нам:</div>

                <p><a href="tel:0661644344" class="contacts-small__link">0661644344</a></p>
                <p><a href="tel:0671644344" class="contacts-small__link">0671644344</a></p>
              </div>
              <!-- end contacts-small -->
            </div>
          </div>
          <!-- end banner -->
        </div>
      </div>

      {% include "partials/_blog-slider.html" %}
    </div>
  </section>
  <!-- end blog-page -->