{%set
contacts = [
  {
    title: 'Свяжитесь с нами',
    text: '
      <p><a href="tel:+380661644344">+38 (066) 164-43-44</a></p>
      <p><a href="tel:+380671644344">+38 (067) 164-43-44</a></p>
      <p><a href="tel:+380731644344">+38 (073) 164-43-44</a></p>
      '
  },
  {
    title: 'график работы',
    text: '<p>С 10:00 до 20:00</p>
<p>Пн - Вс</p>'
  },
  {
    title: 'Приходите к нам',
    text: '<p>ул. Ю. Фучика, 4</p><p>Киев 03049</p>'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4">
        <!-- begin contacts-block -->
        <div class="contacts-block">
          <div class="contacts-block__title">
            <div class="title title--accent title--ttn">Наши контакты</div>
          </div>

          <div class="contacts-block__contacts">
            {% for i in contacts %}
            <!-- begin contact-info-block -->
            <div class="contact-info-block">
              <div class="contact-info-block__title">
                <div class="title title--h6">{{ i.title | safe }}</div>
              </div>

              <div class="contact-info-block__text">{{ i.text | safe }}</div>
            </div>
            <!-- end contact-info-block -->
            {% endfor %}
          </div>

          <div class="contacts-block__btn">
            {{ mixins.btn(
              title = 'Записаться на приём',
              mod = 'btn--full',
              href = false
            ) }}
          </div>
        </div>
        <!-- end contacts-block -->
      </div>

      <div class="col-8">
        <!-- begin map -->
        <div class="map">
          <iframe class="js-lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.1343417285043!2d30.472449715895838!3d50.43859829609961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce96a93c5927%3A0x411730c06fba94f2!2z0YPQuy4g0K7Qu9C40YPRgdCwINCk0YPRh9C40LrQsCwgNCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1568797057999!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <!-- end map -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->