<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <!-- begin call -->
    <div class="call">
      <div class="section__title section__title-mb-lg">
        <div class="title title--h2 title--bold title--white">ЗАКАЖИТЕ ОБРАТНЫЙ ЗВОНОК И МЫ СВЯЖЕМСЯ С ВАМИ ПОСЛЕ ТОГО, КАК ДОЛЕЧИМ ПАЦИЕНТА.</div>
      </div>

      <div class="call__btn text-center">
        {{ mixins.btn(
          title = 'Заказать обратный звонок',
          mod = 'btn--combine',
          combine = true,
          href = false
        ) }}
      </div>
    </div>
    <!-- end call -->
  </div>
</section>
<!-- end section -->
