<!-- begin section -->
<section class="section section--accent-2 pt-sml pb-sml">
  <div class="container">
    <div class="section__title section__title-mb-lg">
      <div class="title title--h2 title--bold title--white">ЗАКАЖИТЕ ОБРАТНЫЙ ЗВОНОК И МЫ СВЯЖЕМСЯ С ВАМИ ПОСЛЕ ТОГО, КАК ДОЛЕЧИМ ПАЦИЕНТА.</div>
    </div>

    <div class="section__btn text-center">
      {{ mixins.btn(
        title = 'Заказать обратный звонок',
        mod = 'btn--combine',
        combine = true,
        href = false
      ) }}
    </div>
  </div>
</section>
<!-- end section -->
