{%set
section = {
  mod: 'pb-0',
  title: {
    title: 'Часто задаваемые вопросы'
  },
  subttl: {
    text: 'Мы знаем, что у вас могут возникунуть вопросы, поэтому <br>
попытались ответить на самые популярные из них'
  }
}
%}

{%set
accordion = {
  itemMod: 'accordion-item--sm',
  items: [
    {
      title: 'На сколько тонов станут зубы светлее?',
      content: '
        Процедура отбеливания проводится исключительно по желанию пациента и только в эстетических целях (обычно такую процедуру проводят 
курильщики и любители кофе).
      '
    },
    {
      title: 'На сколько тонов станут зубы светлее?',
      content: '
        Процедура отбеливания проводится исключительно по желанию пациента и только в эстетических целях (обычно такую процедуру проводят 
курильщики и любители кофе).
      '
    },
    {
      title: 'На сколько тонов станут зубы светлее?',
      content: '
        Процедура отбеливания проводится исключительно по желанию пациента и только в эстетических целях (обычно такую процедуру проводят 
курильщики и любители кофе).
      '
    },
    {
      title: 'На сколько тонов станут зубы светлее?',
      content: '
        Процедура отбеливания проводится исключительно по желанию пациента и только в эстетических целях (обычно такую процедуру проводят 
курильщики и любители кофе).
      '
    }
  ]
}
%}

{% extends "layouts/_section.html" %}

{% block content %}
  {% include "partials/_accordion.html" %}
{% endblock %}