{%set
section = {
  mod: 'pb-0',
  title: {
    title: 'что мы предлагаем'
  },
  subttl: {
    text: 'Если вы хотите отбелить зубы, но всё ещё колеблетесь в принятии решения, <br>
  вот несколько причин, почему стоит это сделать у нас:'
  }
}
%}

{% extends "layouts/_section.html" %}

{% block content %}
  <!-- begin list -->
  <div class="list list--simple">
    <ul>
      <li>Мы используем современное оборудование, методы и технологии, чтобы сделать время, проведённое на приёме, максимально комфортными для клиента;</li>
      <li>Процедуру проводит компетентный специалист с многолетним опытом работы;</li>
      <li>Каждый клиент – это уникальный случай и методы проведения процедур подбираются индивидуально;</li>
      <li>Приятная цена. Мы с пониманием относимся к клиентам, поэтому, несмотря на высокое качество предоставляемых услуг, цены остаются демократичными. Стоимость отбеливания по технологии Amazing White – от 1390 грн.</li>
      <li>Удобное расположение в городе Киев, рядом с метро «Вокзальная», где нас просто найти;</li>
      <li>Также у нас проводятся акции и скидки на различные процедуры, которые помогут сэкономить время и средства.</li>
    </ul>
  </div>
  <!-- end list -->
{% endblock %}