{%set
section = {
  title: {
    title: 'НАШИ УСЛУГИ',
    wrapMod: 'section__title-mb-lg'
  }
}
%}

{%set
cards = [
  {
    img: '01.jpg',
    title: 'ОТБЕЛИВАНИЕ',
    text: 'Профессиональное отбеливание зубов. Максимально эффективная и безопасная система. Результат превзойдет все ожидания!'
  },
  {
    img: '01.jpg',
    title: 'ДЕТСКАЯ ОРТОДОНТИЯ',
    text: 'Исправление прикуса у детей
с помощью плаcтинки или брекетов.'
  },
  {
    img: '01.jpg',
    title: 'ЛЕЧЕНИЕ ПОД МИКРОСКОПОМ',
    text: 'Огромные возможности.
Инновационные технологии
стоматологического лечения 21 века.'
  },
  {
    img: '01.jpg',
    title: 'ВЗРОСЛАЯ ОРТОДОНТИЯ',
    text: 'Исправление неправильного прикуса у взрослых высокотехнологическими брекет-системами под любой кошелек.'
  }
]
%}

{% extends "layouts/_section.html" %}

{% block content %}
  <!-- begin cards -->
    <div class="cards">
      <div class="row justify-content-center">
        {% for i in cards %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          

          {{ mixins.card(
            mod = 'card--center',
            img = i.img,
            title = i.title,
            text = i.text,
            button = { title: 'Подробнее', mod: 'btn--full' }
          ) }}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end cards -->
{% endblock %}