{%set
section = {
  mod: 'pb-0',
  title: {    
    title: 'процедуру проводят'
  },
  subttl: {
    text: '<p>Специалисты своего дела, опыт каждого из наших врачей более 15 лет. </p>
  <p>Они знают, как найти подход к каждому</p>'
  }
}
%}

{%set
specialists = [
  {
    title: 'Дорошенко Максим Владимирович',
    subttl: 'Стоматолог- терапевт, эндодонт',
    meta: [
      {
        dt: 'Образование:',
        dd: 'Национальный медицинский университет имени А.А. Богомольца, стоматологический факультет.'
      },
      {
        dt: 'Стаж работы:',
        dd: '7 лет'
      },
      {
        dt: 'Количество пациентов:',
        dd: '2500 человек'
      }
    ]
  },
  {
    img: 'lg-02.jpg',
    title: 'Овчаренко Яна Валерьевна',
    subttl: 'Стоматолог- терапевт, эндодонт',
    meta: [
      {
        dt: 'Образование:',
        dd: 'Национальный медицинский университет имени А.А. Богомольца, стоматологический факультет.'
      },
      {
        dt: 'Стаж работы:',
        dd: '7 лет'
      },
      {
        dt: 'Количество пациентов:',
        dd: '2500 человек'
      }
    ]
  }
]
%}

{% extends "layouts/_section.html" %}

{% block content %}
  <!-- begin specialists -->
  <div class="specialists">
    {% for i in specialists %}
    <div class="specialists__item">
      
      {% include "partials/_member-full.html" %}
      
    </div>
    {% endfor %}  
  </div>
  <!-- end specialists -->
{% endblock %}