{%set
section = {
  title: {
    title: 'НАШИ УСЛУГИ'
  }
}
%}

{%set
cards = [
  {
    img: '01.jpg',
    title: 'ОТБЕЛИВАНИЕ',
    text: 'Профессиональное отбеливание зубов. Максимально эффективная и безопасная система. Результат превзойдет все ожидания!'
  },
  {
    img: '01.jpg',
    title: 'ДЕТСКАЯ ОРТОДОНТИЯ',
    text: 'Исправление прикуса у детей
с помощью плаcтинки или брекетов.'
  },
  {
    img: '01.jpg',
    title: 'ЛЕЧЕНИЕ ПОД МИКРОСКОПОМ',
    text: 'Огромные возможности.
Инновационные технологии
стоматологического лечения 21 века.'
  },
  {
    img: '01.jpg',
    title: 'ВЗРОСЛАЯ ОРТОДОНТИЯ',
    text: 'Исправление неправильного прикуса у взрослых высокотехнологическими брекет-системами под любой кошелек.'
  }
]
%}

{% extends "layouts/_section.html" %}

{% block content %}
  <!-- begin cards -->
    <div class="cards">
      <div class="row">
        {% for i in cards %}
        <div class="col-3">
          <!-- begin card -->
          <div class="card card--center">
            <div class="card__img js-lazy" data-background-image="./img/actions/{{ i.img }}">
              {% if i.label %}
              <div class="card__label label">-25%</div>
              {% endif %}
            </div>

            <div class="card__content">
              <div class="card__title">
                <div class="title title--h3 title--bold">{{ i.title | safe }}</div>
              </div>

              <div class="card__text">{{ i.text | safe }}</div>

              <div class="card__btn">
                {{ mixins.btn(
                  title = 'Подробнее',
                  mod = ''
                ) }}
              </div>
            </div>
          </div>
          <!-- end card -->
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end cards -->
{% endblock %}