{%set
section = {
  mod: 'pb-0'
}
%}

{% extends "layouts/_section.html" %}

{% block content %}
<!-- begin content -->
<div class="content">
  <div class="content__block content__block-flex">
    <div class="content__left content__left-3">
      <!-- begin slider -->
      <div class="slider__wrap slider--sm__wrap">
        <div class="slider__title">«До» и «После»</div>
        <div class="slider slider--sm js-slider" data-slider="small">
          {% for i in range(0, 5) %}
          <!-- begin slide -->
          <div class="slide">
            <div class="slide__img js-lazy" data-background-image="./img/teeth.jpg"></div>
          </div>
          <!-- end slide -->
          {% endfor %}
        </div>

        <div class="slider__controls">
          <button class="slider__prev prev js-slider-prev"></button>
          <button class="slider__next next js-slider-next"></button>
        </div>
      </div>
      <!-- end slider -->
    </div>

    <div class="content__right content__right-9">
      <h2>Отбеливание зубов в Киеве (H2)</h2>

      <p>Ровные белоснежные зубы, обаятельная улыбка и уверенность в себе – вот что нужно человеку, чтобы чувствовать себя счастливым. 
      Но в суете современного мира не всегда хватает времени на полноценный уход за ротовой полостью. Нерегулярная чистка зубов, частое употребление кофе, чёрного чая, курение и многие другие факторы влияют как на качество зубов, так и на цвет эмали.</p>

      <blockquote>
        Самостоятельно практически невозможно отбелить эмаль до идеально белого естественного цвета, но для этого существует услуга «Отбеливание зубов». Если следите за гигиеной рта, но всё равно не можете добиться того результата, который обещают на упаковках зубной пасты, – обращайтесь в нашу стоматологию, где профессионалы своего дела подарят вам улыбку, о которой вы всегда мечтали.
      </blockquote>
    </div>
  </div>

  <div class="content__block">
    <img src="" class="js-lazy" alt="" data-src="./img/service-one-img.png"/>

    <h3>Методы отбеливания (H3)</h3>

    <p>Многие на себе прочувствовали тот страх перед стоматологами, который идёт из детства. Наша задача искоренить этот страх уютной обстановкой, позитивным настроем и комфортом. Современная взрослая и детская стоматология основывается на принципе комфорта и безопасности. Хорошая стоматология не только лечит зубы, но и повышает вашу самооценку. Ваша красота в ваших руках. Доверьтесь нашим профессионалам! Для детей у нас есть детский уголок, где малыши смогут порисовать или поиграть с новыми игрушками</p>

    <ol>
      <li>Мы используем только гипоаллергенные материалы,</li>
      <li>При необходимости предлагаем пациенту несколько видов анестезии на выбор,</li>
      <li>Подготавливаем психологически к предстоящей процедуре. </li>
    </ol>
    
    <p>Также проводятся <strong>акции, скидки,</strong> которые помогут сэкономить. Особенно это касается детей, ведь страх перед врачами закладывается в раннем возрасте, и мы делаем всё возможное, чтобы после посещения были только приятные воспоминания. Для детей у нас есть детский уголок, где малыши смогут порисовать или поиграть с новыми игрушками. Эффективная стоматология начинается с мелочей, и мы, как истинные профессионалы эти мелочи всегда учитываем. Несмотря на высокое качество предоставляемых услуг, цены остаются демократичными. </p>

    <h4>Регламент процедуры (H4)</h4>

    <p>Хотелось бы подытожить всё, о чём говорилось выше, почему стоит обращаться за качественной консультацией и лечением именно в наш Центр детской и взрослой стоматологической эстетики:</p>

    <ul>
      <li>Используем современные технологии и методы, чтобы сделать время, проведённое на приёме, комфортными и полезными для клиента;</li>
      <li>Берёмся за сложные случаи;</li>
      <li>Процедура проводится <a href="#">сертифицированным стоматологом</a> с многолетним опытом работы;</li>
      <li>Не навязываем ненужные услуги;Дружный коллектив, который всем сердцем переживает за каждого клиента, а постоянные клиенты становятся практически родными;</li>
      <li>Каждый клиент – это отдельный случай, методы проведения процедур подбираются индивидуально;
      мение работать с детьми;</li>
    </ul>
  </div>
</div>
<!-- end content -->
{% endblock %}