{%set
section = {
  mod: 'pb-0',
  title: {
    wrapMod: 'section__title-mb-lg',
    title: 'ОТЗЫВЫ СЧАСТЛИВЫХ ПАЦИЕНТОВ'
  }
}
%}

{%set
testimonials = [
  {
    title: 'Анна Карпенко',
    text: 'Крайне не рекомендую любителям отечественной 
медицины. Очередей нет, даже поругаться
нету с кем. А если тебе нужно подождать – устроят 
тебя на удобном диванчике. Милая девочка 
предложит чай\кофе.. поговорить. в общем,
скучно будет.'
  },
  {
    title: 'Василиса Иванченкова',
    text: 'Как дома! И это о стоматологии! Лечусь и сама
и ребёнок ! Все- просто настоящий мастера! 
Умнички , совершенно не больно, все самое 
последнее ! После неоднократного посещения,
ребёнок решил стать стоматологом спасибо всем
и врачам и девчонкам администраторам !'
  },
  {
    title: 'Анастасия Карапетян',
    text: 'Оба мои ребенка посещают стоматологию Смайлик. 
Ходим к ортодонту Анне Игоревне. До этого были
у нескольких специалистов, и ни разу не пожалели, 
что сделали свой выбор в пользу Смайлика. 
Очень приятная обстановка, вежливое отношение, 
к детям найден подход и они (в жизни б не поверила) 
выполняют все просьбы врача. Есть результаты, что 
очень вдохновляет! Огромное спасибо всем 
специалистам центра за вашу работу!'
  },
  {
    title: 'Анна Карпенко',
    text: 'Крайне не рекомендую любителям отечественной 
медицины. Очередей нет, даже поругаться
нету с кем. А если тебе нужно подождать – устроят 
тебя на удобном диванчике. Милая девочка 
предложит чай\кофе.. поговорить. в общем,
скучно будет.'
  },
  {
    title: 'Василиса Иванченкова',
    text: 'Как дома! И это о стоматологии! Лечусь и сама
и ребёнок ! Все- просто настоящий мастера! 
Умнички , совершенно не больно, все самое 
последнее ! После неоднократного посещения,
ребёнок решил стать стоматологом спасибо всем
и врачам и девчонкам администраторам !'
  },
  {
    title: 'Анастасия Карапетян',
    text: 'Оба мои ребенка посещают стоматологию Смайлик. 
Ходим к ортодонту Анне Игоревне. До этого были
у нескольких специалистов, и ни разу не пожалели, 
что сделали свой выбор в пользу Смайлика. 
Очень приятная обстановка, вежливое отношение, 
к детям найден подход и они (в жизни б не поверила) 
выполняют все просьбы врача. Есть результаты, что 
очень вдохновляет! Огромное спасибо всем 
специалистам центра за вашу работу!'
  }
]
%}

{% extends "layouts/_section.html" %}

{% block content %}
<!-- begin slider -->
<div class="slider__wrap slider--items__wrap">
  <div class="slider slider--items js-slider" data-slider="items">
    {% for i in testimonials %}
    <!-- begin slide -->
    <div class="slide">
      <!-- begin testimonial -->
      <div class="testimonial">
        <div class="testimonial__img user-img js-lazy" data-background-image="./img/client.jpg"></div>

        <div class="testimonial__title">
          <div class="title title--h3 title--bold">{{ i.title | safe }}</div>
        </div>

        <div class="testimonial__text">{{ i.text | safe }}</div>

        <div class="testimonial__date">
          <!-- begin date -->
          <div class="date">
            {{ mixins.icon('calendar') }}
            25.11.2017
          </div>
          <!-- end date -->
        </div>
      </div>
      <!-- end testimonial -->
    </div>
    <!-- end slide -->
    {% endfor %}
  </div>

  <div class="slider__controls">
    <button class="slider__prev prev js-slider-prev"></button>
    <button class="slider__next next js-slider-next"></button>
  </div>
</div>
<!-- end slider -->
{% endblock %}