<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for i in range(0, 5) %}
      <div class="col-sm-6">
        <div class="work-example">
          <div class="work-example__top">«До» и «После»</div>

          <div class="work-example__body">
            <div class="work-example__img js-lazy" data-background-image="./img/557.jpg"></div>

            <div class="work-example__content">
              <h3 class="work-example__title title title--h2 title--ttn">Отбеливание зубов у Юлии</h3>

              <div class="work-example__text">
                <p>Ровные белоснежные зубы, обаятельная улыбка и уверенность в себе – вот что нужно человеку, чтобы чувствовать себя счастливым. </p>
                <p>Но в суете современного мира не всегда хватает времени на полноценный уход за ротовой полостью. Нерегулярная чистка зубов, частое употребление кофе, чёрного чая, курение и многие другие факторы влияют как на качество зубов, так и на цвет. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="work-example">
          <div class="work-example__top">«До» и «После»</div>
          
          <div class="work-example__body">
            <div class="work-example__img js-lazy" data-background-image="./img/554.jpg"></div>

            <div class="work-example__content">
              <h3 class="work-example__title title title--h2 title--ttn">Отбеливание зубов у Сергея</h3>

              <div class="work-example__text">
                <p>Ровные белоснежные зубы, обаятельная улыбка и уверенность в себе – вот что нужно человеку, чтобы чувствовать себя счастливым. </p>
                <p>Но в суете современного мира не всегда хватает времени на полноценный уход за ротовой полостью. Нерегулярная чистка зубов, частое употребление кофе, чёрного чая, курение и многие другие факторы влияют как на качество зубов, так и на цвет. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end section -->