.card
  $this: &
  box-shadow: $shadow
  border-radius: $radius
  overflow: hidden
  +flex(flex-start, normal, column)
  height: calc(100% - 30px)
  margin-bottom: 30px
  +xs
    margin-bottom: 15px
    height: calc(100% - 15px)
  &__img
    +cover
    background-color: $gray-light
    padding-top: 50%
    position: relative
    +lg
      margin-bottom: 15px
  &__content
    flex-grow: 1
    background-color: $white
    padding: 30px 30px 20px
    +flex(flex-start, normal, column)
    +xl
      padding: 20px
    +lg
      padding: 15px
  &__title
    margin-bottom: 5px
  &__text
    flex-grow: 1
    margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__btn
    max-width: $btn-width
  &__label
    position: absolute
    z-index: 1
    color: $white
    background-color: $red
    +css-lock(18, 48, 320, 1399, font-size)
    font-weight: 700
    text-align: center
    padding-left: 15px
    padding-right: 15px
    // padding: 15px
    border-top-right-radius: $radius
    border-bottom-right-radius: $radius
    top: 50%
    transform: translate(0, -50%)
    left: 0

  &--center
    text-align: center
    #{$this}__img
      padding-top: 60%
    #{$this}__content
      padding: 30px 10px 20px
    #{$this}__btn
      max-width: none
