.header
  $this: &
  &__top
    background-color: $accent-2
    color: $white
  &__bottom
    background-color: $white
  &__inner
    @extend .row
    padding-top: 15px
    padding-bottom: 15px
  &__contacts
    @extend .col-10
    +flex(flex-start, center)
    margin-left: -15px
    margin-right: -15px
  &__contact
    padding-left: 15px
    padding-right: 15px
    width: 20%
  &__social
    @extend .col-2
    text-align: right
  &__logo
    @extend .col-3
  &__nav
    @extend .col-6
    +flex(flex-start, center)
    .nav
      width: 100%
  &__btn
    @extend .col-3
    +flex(flex-end, center)


.header-contact
  +inline-flex(flex-start, center)
  text-transform: uppercase
  font-weight: 500
  font-size: $fz-sm
  a
    +inline-flex(flex-start, center)
    +tr(color .3s)
    +hover
      color: $accent-1
  .icon
    font-size: 1.2em
    margin-right: .2em