.hero
  $this: &
  +cover
  background-color: $gray-light
  color: $white
  &__inner
    padding-top: 10%
    padding-bottom: 10%
    // +cover
  &__title
    margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +sm
      margin-bottom: 15px
  &__meta
    .blog-meta
      justify-content: center
  &__subttl
    margin-bottom: 20px
    +md
      margin-bottom: 10px

  &--lg
    #{$this}__inner
      padding-top: 20%
      padding-bottom: 20%