.nav
  color: $c-title
  ul
    +flex(space-between, center)
    +lg
      display: block
  li
    position: relative
    +lg
      padding: 10px
      // height: 41px
      // border-bottom: 1px solid $c-text
    &.has-dropdown,
    &.menu-item-has-children
      position: relative
      > a
        +after
          +icon-arrow(7, 7, 1, currentColor, -45)
          position: relative
          margin-left: 5px
          display: inline-block
          top: -.1em
          +lg
            display: none
      +lg
        padding-right: 50px
        +after
          display: none
      +sm
        +before
          height: 39px
      +hover
        .nav--dropdown
          visibility: visible
          opacity: 1
          +lg
            // display: block
            max-height: none
            overflow: visible
            margin-top: 10px
  a
    +tr(color .3s)
    +hover
      color: $accent-1
    &.is-active
      color: $accent-1

.nav--dropdown
  position: absolute
  z-index: 1
  left: 0
  top: 100%
  background-color: transparent
  width: 360px
  visibility: hidden
  opacity: 0
  padding-top: 20px
  color: $white
  +ready
    +tr(visibility .3s, opacity .3s, transform .3s, max-height .5s, padding .5s, margin .5s)
  +lg
    position: static
    width: auto
    margin-left: -10px
    margin-right: -50px
    transform: translate(0, 0)
    color: inherit
    visibility: visible
    opacity: 1
    margin-top: 10px
    font-size: .75em

      
  li
    display: block
    +lg
      border-bottom: 0
      // padding: 0

    +notlast
      // border-bottom: 1px solid  #e4a5e4
    &:first-child
      a
        border-top-left-radius: $radius-sm
        border-top-right-radius: $radius-sm
        +lg
          border-radius: 0
    &:last-child
      a
        border-bottom-left-radius: $radius-sm
        border-bottom-right-radius: $radius-sm
        +lg
          border-radius: 0
  ul
    display: block
    background-color: $accent-1
    border-radius: $radius-sm
    position: relative
    +lg
      background-color: $white
      border-radius: 0
    +before
      +arr(16, 12, $accent-1, t)
      position: absolute
      bottom: 100%
      left: 10px
      z-index: 1
      +lg
        display: none
  a
    display: block
    padding: 10px 15px
    +tr(color .3s, background-color .3s)
    +hover
      background-color: $accent-2
      color: $white
    &.is-active
      background-color: $accent-2
      color: $white
      +lg
        color: $accent-1
        background-color: transparent
    +lg
      display: inline
      padding: 0
      +hover
        background-color: transparent
        color: $accent-1

.nav--footer
  color: $white
  ul
    display: block
  li
    display: block
    +notlast
      margin-bottom: 15px
      +md
        margin-bottom: 10px
    +lg
      padding: 0
      border-bottom: 0
  a
    +hover
      color: $c-text

.sub-menu
  @extend .nav
  @extend .nav--dropdown
  display: block !important
  padding-top: 0
  background-color: $accent-1
  border-radius: $radius-sm
  +lg
    background-color: $white
    border-radius: 0
