.slider
  $this: &
  &__controls
    padding-top: 20px
    text-align: center
    .prev, .next
      margin-left: 10px
      margin-right: 10px
  &__wrap
    position: relative
    .tns-nav
      text-align: center
      button
        display: inline-block
        margin-right: 5px
        margin-left: 5px
        width: 8px
        height: 8px
        border-radius: 50%
        background-color: $gray-light
        &.tns-nav-active
          background-color: $accent-2
    

  &--team
    &__wrap
      +flex(space-between, normal, column)
      +md
        display: block
        .tns-ovh
          padding-top: 10px 
          padding-bottom: 10px
        .tns-outer
          display: inline-block
          vertical-align: middle
          width: 100%
          // width: calc(100% - 90px)
      +sm        
        .tns-outer
          width: 100%
      .slider
        &__prev, &__next
          display: block
          margin-left: auto
          margin-right: auto
          +md
            display: none
            // margin-left: 0
            // margin-right: 0
            // display: inline-block
            // vertical-align: middle
  &--items
    +flex
    &__wrap
      .tns-ovh
        padding-top: 10px
        padding-bottom: 10px
    .slide

  &--items-arr
    &__wrap
      +r(1620)
        max-width: 90%
        margin-left: auto
        margin-right: auto
      +md
        max-width: none
        margin-left: 0
        margin-right: 0
      .slider__controls
        padding: 0
        +md
          padding-top: 20px
      .slider__prev,
      .slider__next
        position: absolute
        top: 50%
        transform: translate(0, -50%)
        +md
          position: relative
          transform: translate(0, 0)
          left: auto
          right: auto
      .slider__prev
        left: -100px
        +r(1620)
          left: -50px
      .slider__next
        right: -100px
        transform: translate(0, -50%) scaleX(-1)
        +r(1620)
          right: -50px
        +md
          transform: scaleX(-1)

  &--sm
    &__wrap
      .slider__controls
        // padding-top: 10px
        .prev, .next
          margin-left: 3px
          margin-right: 3px
    .slide
      &__img
        // +cover
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: contain
        padding-top: 100%

.slide
  .article
    height: 100% !important
    margin-bottom: 0 !important
  +sm
    font-size: 14px !important


.prev, .next
  display: inline-block
  position: relative
  border-radius: 50%
  background-color: $white
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08)
  width: 40px
  height: 40px
  +tr(background-color .3s, color .3s)
  +before
    +icon-arrow(10, 10, 1, currentColor, 45)
    +vcenter
    transform: translate(-30%, -50%) rotate(45deg)
  +hover
    background-color: $accent-2
    color: $white
  &--vert
    +before
      +icon-arrow(10, 10, 1, currentColor, 135)
      +vcenter
      transform: translate(-50%, -30%) rotate(135deg)
    +md
      +before
        +icon-arrow(10, 10, 1, currentColor, 45)
        transform: translate(-30%, -50%) rotate(45deg)

.next
  transform: scaleX(-1)
  &--vert
    transform: scaleY(-1)
    +md
      transform: scaleX(-1)